<!--<barra></barra>-->

<div class="container">
    <form role="form">
        <div class="row">
            <div class="col-lg-6">
                <h1 ng-if="firstTime">Ciao {{ me.first_name }} !</h1>

                <h1>Crea una nuova attività:</h1>
                <!--<strong>
                    <span class="glyphicon glyphicon-asterisk"></span>
                    Campi obbligatori
                </strong>-->
                
                <br>

                <div class="form-group">
                    <label for="attivita">Nome Attività</label>

                    <div class="input-group-lg">
                        <input type="text" class="form-control" name="attivita" id="attivita"
                               placeholder="Studio Medico via Garibaldi"
                               ng-model="attivita">
                        <div class="alert alert-danger" role="alert" ng-show="nonUnico">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Il nome dell'attività già presente
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descrizione">Descrizione</label>

                    <div class="input-group-lg">
                        <input type="text" class="form-control" name="descrizione" id="descrizione"
                               placeholder="Si può prendere il biglietto online quando il dottore è in studio"
                               ng-model="descrizione">

                        <!--<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>-->
                    </div>
                </div>
                <div class="form-group" style="margin-top:20px">
                    <div class="input-group input-group-lg">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <input id="terms" type="checkbox" ng-model="terms">
                                <label for="terms" style="margin-left:7px">
                                    Accetto i <a href="/terms" target="_blank">Termini e Condizioni di Servizio</a>.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /input-group -->

                <!--<div class="form-group">-->
                <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                <!--<label>-->
                <!--<input type="radio" name="female">-->
                <!--<b>Account base (GRATIS)</b><br>-->
                <!--Gestisce code semplici, perfetto per le piccole attività-->
                <!--</label>-->
                <!--</span>-->
                <!--</div>-->
                <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                <!--<label>-->
                <!--<input type="radio" name="female">-->
                <!--<b>Account PRO (9 Euro al mese)</b><br>-->
                <!--Gestisce code complesse, adatto a tute le esigenze di grandi e piccole attività-->
                <!--</label>-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->

                <!--<input type="checkbox"/> Dichiaro di aver letto ed accettato le condizioni... -->

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <input type="submit" name="submit" id="submit" value="Avanti" class="btn btn-primary"
                       ng-click="submit()">
            </div>
        </div>
    </form>
</div>

<div id="success-modal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Congratulazioni !
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <h2>Hai creato la tua Attività</h2>
            </div>
            <div class="modal-footer">
                <button ng-click="goToFirmHelp()"
                        type="button" class="btn btn-primary" data-dismiss="modal">Vai all'Help</button>
            </div>
        </div>
    </div>
</div>

