<!--<barra></barra>-->

<div class="container" style="margin-top:10px">
    <!--<div class="col-md-12" style="margin-bottom:10px;margin-top:20px">{{firm.name}}</div>-->
    <pubblico-fullscreen params="params"></pubblico-fullscreen>

    <div class="col-md-12" style="text-align: center">
        <div style="margin-top: -10px; color: #28a5a8; margin-bottom: 0px; font-size:28px" >Guarda questo schermo dallo smartphone: <b>http://{{ location }}/{{firm.url_name}}</b></div>
        <div  style="font-size:large;" >Gestisci un'attività? Svuota la tua sala d'attesa gratis con qathome.com.</div>
    </div>
</div>
