<barra></barra>
<section class="section">
    <div class="section-headlines text-center">
        <h1>Seleziona il tuo piano</h1>
    </div>

    <div class="row-fluid">
        <div class="pricing-table row-fluid text-center">
            <div class="span3">
                <div class="plan">
                    <div class="plan-name">
                        <h2>Free</h2>

                        <p class="muted">Perfetto per piccole attività</p>
                    </div>
                    <div class="plan-price">
                        <b>GRATIS</b>
                    </div>
                    <div class="plan-details">
                        <div>
                            Gestisce <b>Code semplici</b>, con un solo sportello
                        </div>
                        <!--<div>-->
                        <!----->
                        <!--</div>-->
                        <!--<div>-->
                        <!----->
                        <!--</div>-->
                    </div>
                    <div class="plan-action">
                        <a href="/register?pricing=free" class="btn btn-block btn-large">scegli piano</a>
                    </div>
                </div>
            </div>

            <div class="span3">
                <div class="plan prefered">
                    <div class="plan-name">
                        <h2>Basic</h2>

                        <p class="muted">Per piccole e medie attività</p>
                    </div>
                    <div class="plan-price">
                        <b>9 €</b> al mese
                    </div>
                    <div class="plan-details">
                        <div>
                            Gestisce <b>Code complesse</b>, multi-sportello e multi-coda
                        </div>
                        <div>
                            <b>Orari di apertura e chiusura</b> personalizzati </br>Limite massimo di persone in coda
                        </div>
                        <!--<div>-->
                        <!----->
                        <!--</div>-->
                    </div>
                    <div class="plan-action">
                        <a href="/register?pricing=basic" class="btn btn-block btn-success btn-large">Scegli piano</a>
                    </div>
                </div>
            </div>

            <!--<div class="span4">-->
            <!--<div class="plan">-->
            <!--<div class="plan-name">-->
            <!--<h2>Pro</h2>-->

            <!--<p class="muted">Servizio professionale a basso costo</p>-->
            <!--</div>-->
            <!--<div class="plan-price">-->
            <!--<b>49 €</b> al mese (minimo un anno)-->
            <!--</div>-->
            <!--<div class="plan-details">-->
            <!--<div>-->
            <!--Gestisce <b>Code complesse</b>, multi-sportello e multi-coda-->
            <!--</div>-->
            <!--<div>-->
            <!--<b>Orari di apertura e chiusura</b> personalizzati </br>Limite massimo di persone in coda-->
            <!--</div>-->
            <!--<div>-->
            <!--<b>Assistenza</b> telematica-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="plan-action">-->
            <!--<a href="#" class="btn btn-block btn-large">Scegli piano</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="span3">
                <div class="plan">
                    <div class="plan-name">
                        <h2>Easy kiosk</h2>

                        <p class="muted">Code complesse con il totem QATHOME</p>
                    </div>
                    <div class="plan-price">
                        <b>249 €</b> al mese (minimo 1 anno)
                    </div>
                    <div class="plan-details">
                        <div>
                            Tutte i vantaggi del <b>PRO</b><br>
                        </div>
                        <div>
                            Include totem/stampante
                        </div>
                        <div>
                            <b>Assistenza</b> telematica
                        </div>
                        <!--<div>-->
                        <!----->
                        <!--</div>-->
                    </div>
                    <div class="plan-action">
                        <a href="/register?pricing=easykiosk" class="btn btn-block btn-large">Scegli piano</a>
                    </div>
                </div>
            </div>

            <div class="span3">
                <div class="plan">
                    <div class="plan-name">
                        <h2>Business</h2>

                        <p class="muted">Soluzioni custom per ogni esigenza</p>
                    </div>
                    <div class="plan-price">
                        <b>Fai il preventivo</b>
                    </div>
                    <div class="plan-details">
                        <div>
                            Tutte i vantaggi del <b>PRO</b><br>
                        </div>
                        <div>
                            Include totem/stampante anche per chi ha molti uffici
                        </div>
                        <div>
                            <b>Assistenza</b> completa a 360 gradi
                        </div>
                        <!--<div>-->
                        <!----->
                        <!--</div>-->
                    </div>
                    <div class="plan-action">
                        <a href="/register?pricing=business" class="btn btn-block btn-large">Scegli piano</a>
                    </div>
                </div>
            </div>

        </div>
        <p class="muted text-center">
            Puoi cambiare il tuo piano quando vuoi, dal pannello di controllo del tuo account.
        </p>
    </div>
</section>