body {
    background-color: white;
}

.aggiungi-coda {
    width: 150px;
    height: 90px;
    white-space: normal;
    margin-right: 15px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 32px;
    min-height: 32px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.elembutton{
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (min-width: 992px) {
    .valign {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
